.gradle
.DS_Store
.idea
.clang
*.iml
.ipynb_checkpoints
build
libs
*.gz
*.params
*.zip
*.jar
*.so
*.dylib
*.dll
*.class
*.log

# Eclipse
.settings
.project
.classpath
bin/

#node
node_modules/
**/static/dist/

#vscode
.vscode
