.gradle
.kotlin
.DS_Store
.idea
.clang
*.iml
.ipynb_checkpoints
build
libs
*.gz
*.params
*.zip
*.jar
*.so
*.dylib
*.dll
*.class
*.log
*.onnx
*.pt
*.safetensors
*.pb
*.trt
*.uff
*.gguf
*.xgb
*.bin

# Eclipse
.settings
.project
.classpath
bin/

#node
node_modules/
**/static/dist/

#vscode
.vscode
