.gradle
.DS_Store
.idea
.clang
*.iml
.ipynb_checkpoints
build
libs
*.gz
*.params
*.zip
*.jar
*.so
*.dylib
*.dll
*.class

target/
yarn-error.log
stats.json
coverage
storybook-static
node/
node_modules/
dist/
