[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An Engine-Agnostic Deep Learning Framework in Java
[access "refs/*"]
	owner = group user/Zach Kimberg (zachgk)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Zach Kimberg (zachgk)
	label-Verified = -1..+1 group user/Zach Kimberg (zachgk)
	push = group user/Zach Kimberg (zachgk)
	read = group user/Zach Kimberg (zachgk)
	rebase = group user/Zach Kimberg (zachgk)
	removeReviewer = group user/Zach Kimberg (zachgk)
	submit = group user/Zach Kimberg (zachgk)
[access "refs/heads/*"]
	create = group user/Zach Kimberg (zachgk)
	push = +force group user/Zach Kimberg (zachgk)
	pushMerge = group user/Zach Kimberg (zachgk)
	read = group user/Zach Kimberg (zachgk)
[access "refs/tags/*"]
	push = group user/Zach Kimberg (zachgk)
	push = +force group user/Zach Kimberg (zachgk)
