<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="LOG_PATH">build/logs</Property>
    <Property name="ROLLING_FILE_NAME">mxnet</Property>
  </Properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%highlight{%-5level}] %d{DEFAULT} %logger{36} - %msg%n%throwable{short.lineNumber}"/>
    </Console>
    <RollingFile name="RollingFile" fileName="${LOG_PATH}/${ROLLING_FILE_NAME}.log"
                 filePattern="${LOG_PATH}/${ROLLING_FILE_NAME}_%d{yyyy-MM-dd}.log">
      <PatternLayout
          pattern="[%highlight{%-5level}] %d{DEFAULT} %logger{36} - %msg%n%throwable{short.lineNumber}"/>
      <Policies>
        <!-- Causes a rollover if the log file is older than the current JVM's start time -->
        <OnStartupTriggeringPolicy/>
        <!-- Causes a rollover once the date/time pattern no longer applies to the active file -->
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>
